# commands
invoke

# pre-commit
pre-commit

# testing
pytest
coverage
httpx
locust

# linting
ruff
mypy

# docs
mkdocs
mkdocs-material
mkdocstrings-python

# cloud storage (models)
dvc
gcloud
dvc-gs

# wandb
wandb
python-dotenv
omegaconf
tensorboard

ruamel-yaml

# logging
loguru

# other
numpy
torch

# stubs (mypy)
types-requests
types-tqdm
types-cachetools
types-cffi
types-protobuf
types-pyOpenSSL
