# commands
invoke

# pre-commit
pre-commit

# testing
pytest
coverage

# linting
ruff
mypy

# docs
mkdocs
mkdocs-material
mkdocstrings-python

# cloud storage (models)
dvc
gcloud
dvc-gs

# wandb
wandb
python-dotenv
omegaconf
tensorboard

ruamel-yaml

# logging
loguru

# other
numpy
torch
